/.bundle/
/coverage/
/checksums/
/Gemfile.lock
/log/
/pkg/
/test/tmp/
/tmp/
/benchmark/results/
/benchmark/**/.bundle/
/benchmark/**/Gemfile.lock
/benchmark/**/coverage/
/benchmark/**/db/*.sqlite3*
/benchmark/**/log/*
!/benchmark/**/log/.keep
/benchmark/**/public/assets/
/benchmark/**/public/cache/*
!/benchmark/**/public/cache/.gitkeep
/benchmark/**/public/avatars/*
!/benchmark/**/public/avatars/.gitkeep
/benchmark/**/tmp/*
!/benchmark/**/tmp/.keep
/benchmark/**/storage/*
!/benchmark/**/storage/.keep
/benchmark/**/node_modules/
/benchmark/**/playwright-report/
/benchmark/**/test-results/
