<section id="<%= dom_id(@featured_item) %>">
  <strong class="title"><%= @featured_item.title %></strong>
  <span class="body"><%= @featured_item.body %></span>
  <span class="viewer"><%= Current.user.email %></span>
</section>
