<div class="box wide">
  <h1><%= @title %> (<%= number_with_delimiter(@user_count) %>)</h1>

  <% if @newest %>
    <p>
    Newest users:
    <%= raw @newest.map{|u| "<a href=\"##{u.username}\" class=\"" <<
      (u.is_new?? "new_user" : "") << "\">#{u.username}</a> " <<
      "(#{u.karma})" }.join(", ") %>
  </p>
<% end %>

<ul class="tree user_tree noparent">
  <%= render partial: "users/tree_user",
    collection: (@users_by_parent[nil] || []).reverse,
    as: :user,
    locals: { users_by_parent: @users_by_parent } %>
</ul>
</div>
